body {
  background-color: rgb(22, 22, 26);
  color: rgb(167, 169, 190);
  font-family: monospace;
  font-size: large;
}

header {
  display: flex;
  justify-content: center;
  padding: 50px;
  background-color: rgb(17, 16, 16);
}

.menu {
  display: flex;
  overflow-x: auto;
}

.menu a {
  color: rgb(167, 169, 190);
  text-decoration: none;
  padding: 10px;
}

.App {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.section-current-time {
  padding: 50px;
  text-align: center;

}

.current-time {
  margin: 15px;
  font-weight: 1000;
}

.current-timezone {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}
